.image-gallery .title-wrapper .sub_title {
    margin: 0 0 8px;
}
.image-gallery {
    position: relative;
}
.image-gallery:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 58%;
    pointer-events: none;
    background-color: var(--primary-background);
}
.image-gallery:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 43%;
    pointer-events: none;
    background-color: var(--secondary-background);
}
.image-gallery>* {
    position: relative;
    z-index: 1;
}
.image-gallery .gallery__text:after {
    display: none;
}
.overlay-text__text {
    color: rgb(var(--color-heading));
}
.overlay-text__text p {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}
.overlay-text__wrapper:has(.overlay-text-top) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery__text:has(.overlay-text-top) {
    height: 100%;
}
.image-gallery .head_right p {
    margin: 0;
}
.image-gallery .page-width--full-width .slider-mobile-gutter {
    margin-left: calc(-1 * var(--section-padding-left));
    margin-right: calc(-1 * var(--section-padding-right));
}
.gallery_btn {
    margin-top: 80px;
    text-align: center;
}
.gallery_btn .button {
    gap: 8px;
}

@media screen and (min-width: 990px) {
    .image-gallery .title-wrapper.head_has_text {
        margin-bottom: 4.9rem;
        align-items: flex-end;
    }
    .image-gallery .title-wrapper.head_has_text .head_left, .title-wrapper.head_has_text .head_right {
        width: calc(50% - 5px);
    }
    
}

@media screen and (max-width: 749px) {
    .overlay-text__text p {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
  }
  }

