
.rich-text-main {
  position: relative;
}
.rich-text-main .title-wrapper .sub_title {
  margin: 0 0 4px;
}
.rich-text-main:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50%;
  pointer-events: none;
  background-color: var(--primary-background);
}
.rich-text-main:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(50% + 1px);
  pointer-events: none;
  background-color: var(--secondary-background);
}
.rich-text-main>* {
  position: relative;
  z-index: 1;
}

/* .rich-text { */
  /* background: var(--gradient-background);
  background-color: rgb(var(--color-background)); */
/* } */

.rich-text__blocks.right .rich-text__text {
  margin-inline-start: auto;
}

.rich-text__blocks.center .rich-text__text {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__blocks .h0 + .h0,
.rich-text__blocks .h1 + .h1 {
  margin-top: 0;
}

.rich-text__blocks > :first-child:is(.rich-text__heading),
.rich-text__blocks > :first-child:is(.rich-text__subheading) {
  margin-top: 0;
}

.rich-text__text {
  max-width: 100%;
  letter-spacing: 0;
  line-height: 1.5;
}

.rich-text__text--colored {
  color: rgba(var(--color-foreground), 0.55);
}

.rich-text__text--colored.rte a {
  color: rgb(var(--color-link));
  background-image: linear-gradient(to top, rgb(var(--color-border)) 0px, rgb(var(--color-border)) 0px), linear-gradient(to top, transparent 0px, transparent 0px);
}

.rich-text-main .download-button-cta-rich svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: none;
  margin-right: 8px;
}

@media screen and (max-width: 749px) {
  .rich-text__blocks.mobile-center .button {
    min-width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .rich-text__blocks .button {
    width: 100%;
  }
}

.rich-text__heading {
  margin-bottom: 0;
  line-height:1.222222;
  letter-spacing: 0;
}
.rich-text__heading em {
    font-family: 'MrsEavesXLSerifOT-RegItalic';
}

.rich-text__subheading + .rich-text__heading {
  margin-top: 0.5rem;
}

.rich-text__subheading {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 1.25;
  margin-bottom: 0;
}

.rich-text__subheading--colored {
  color: rgba(var(--color-heading), 0.55);
}

/* .rich-text--colored { */
  /* padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem; */
/* } */

@media screen and (min-width: 750px) {
  .rich-text__subheading.h5 {
    font-size: calc(var(--font-heading-scale) * 1.2rem);
  }

  /* .rich-text--colored { */
    /* padding-inline-start: 5rem;
    padding-inline-end: 5rem; */
  /* } */

  .rich-text--horizontal .rich-text__blocks {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  .rich-text--horizontal .rich-text__blocks.center {
    justify-content: center;
  }

  .rich-text--horizontal .rich-text__blocks.right {
    justify-content: flex-end;
  }

  .rich-text--horizontal .rich-text__blocks > *,
  .rich-text--horizontal .rich-text__blocks.center .rich-text__text,
  .rich-text--horizontal .rich-text__blocks.right .rich-text__text {
    margin: 0;
  }

  .rich-text--horizontal .rich-text__blocks .button {
    min-width: auto;
  }
}


.rich_box {
  padding: 50px;
  background: #fff;
}
.rich-text__block_main:has(>.intro_title) {
  display: flex;
  gap: 43px;
}
.intro_title + .rich-text__blocks {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}
.intro_title+.rich-text__blocks.left {
  align-items: flex-start;
}
.intro_title+.rich-text__blocks.center {
  align-items: center;
}
.intro_title+.rich-text__blocks.right {
  align-items: flex-end;
}
.box_left {
  margin-right: auto;
}
.box_center {
  margin-right: auto;
  margin-left: auto;
}
.box_right {
  margin-left: auto;
}
.intro_title {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.11111;
  font-family: 'MrsEavesXLSerifOT-RegItalic';
  font-style: italic;  
  letter-spacing: 0;
}
.download-button-cta-rich {
  line-height: 1.5;
}
.rich-text:not(.rich-text--horizontal) .rich-text__block_main {
  flex-wrap: wrap;
  gap: 30px;
}
.rich-text:not(.rich-text--horizontal) .rich-text__block_main .intro_title {
  max-width: 100%;
  width: 100%;
}
/* .rich-text:not(.rich-text--horizontal) .rich-text__block_main .rich-text__blocks {
  margin-left: 0;
} */
.rich-text__block_main.remove_gap {
  row-gap: 4px !important;
}
.rich-text__block_main.remove_gap .rich-text__blocks>*+* {
  margin-top: 8px;
}


@media screen and (min-width: 990px) {

  .download-button-cta-rich {
    padding: 1.2rem 2.4rem;
  }
}

@media screen and (max-width: 989px) {
  .rich-text__block_main:has(>.intro_title) {
    flex-direction: column;
    gap: 10px;
  }
  .intro_title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 749px) {
  .rich_box {
    padding: 20px;
  }
  .intro_title {
    font-size: 2.8rem;
  }
}


@media only screen and (max-width:440px) {
  .rich-text__blocks .button {
    padding: 1rem 0.4rem;
    font-size: 1.4rem;
  }
}
