.contact-form-section {
  position: relative;
}
.contact-form-section .page-width .container {
  max-width: 1070px;
  margin: 0 auto;
}
.contact-form-section .title-wrapper .sub_title {
  margin: 0 0 4px;
}
.contact-form-section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 57.5%;
  pointer-events: none;
  background-color: var(--primary-background);
}
.contact-form-section:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 43.5%;
  pointer-events: none;
  background-color: var(--secondary-background);
}
.contact-form-section>* {
  position: relative;
  z-index: 1;
}

.contact img {
  max-width: 100%;
}

.contact .field {
  display: block;
  margin-bottom: 1.5rem;
}
.contact .field__input::placeholder {
  font-style: italic;
  opacity: 0.8;
}
.contact .text-area {
  min-height: 28.4rem;
  display: flex;
}


@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 3.2rem;
  }
}

@media screen and (min-width: 750px) {
  .contact.page-width--inner .contact__fields {
    display: flex;
    grid-column-gap: 2rem;
    flex-wrap: wrap;
  }
  .contact .field.col-half {
    width: calc((100% / 2) - 10px);
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.contact__list {
  padding-top: 5rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
}

@media screen and (min-width: 750px) {
  .contact__list {
    padding-top: 0;
    padding-inline-start: 6rem;
  }
}

.contact__list > li {
  flex: 0 0 100%;
}

.contact__list .h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: calc(1 + 0.2 / max(1, var(--font-heading-scale)));
}

.contact__list .link {
  padding-bottom: 0.2rem;
}

.contact__list .list-social {
  padding-top: .5rem;
}

@media screen and (max-width: 749px) {
  .contact .grid .grid__item {
    width: 100%;
    max-width: 100%;
  }

  .contact__list > li {
    flex: 1 0 calc(50% - 1rem);
  }
  .blank_part {
    min-height: 1px;
  }
}

@media screen and (max-width: 480px) {
  .contact__list > li {
    flex: 0 0 100%;
  }
}

.contact-form__input .form__facet-checkbox,
.contact-form__input .form__facet-radio {
  position: relative;
  display: flex;
  align-items: center;
  word-break: break-word;
  line-height: 1.6rem;
  cursor: pointer;
}

.contact-form__input .form__facet-checkbox input[type=checkbox] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
}

.contact-form__input .form__facet-checkbox .icon {
  color: rgb(var(--color-border));
  background-color: rgb(var(--color-background));
  margin-inline-end: 1rem;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
}

.contact-form__input .form__facet-checkbox .icon path:last-child {
  color: rgb(var(--color-foreground));
}

.contact-form__input .form__facet-radio .icon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-inline-end: 0.8rem;
  position: relative;
  border: 1px solid rgb(var(--color-border));
  border-radius: 50%;
}

.contact-form__input .form__facet-radio .icon::after {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: currentColor;
  border-radius: 50%;
}

.contact-form__input .form__facet-checkbox .icon path:last-child,
.contact-form__input .form__facet-radio .icon::after {
  opacity: 0;
  transition: opacity var(--duration-short) ease;
}

.contact-form__input .form__facet-checkbox > input[type=checkbox]:checked ~ .icon-checkmark path:last-child,
.contact-form__input .form__facet-radio > input[type=radio]:checked ~ .icon::after {
  opacity: 1;
}

.contact-form__input fieldset.contact-form__input {
  flex-direction: column;
  row-gap: 1rem;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.contact-form__input input[type=radio] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 0.1rem;
  width: 0.1rem;
}



.contact_big_box {
  padding: 80px;
  background-color: var(--box-background);
}
.contact-form-section {
  color: rgb(var(--color-foreground));
}
.contact-form-section .title-wrapper p {
  margin: 0;
}
.contact-form-section .title-wrapper {
  gap: 24px;
}

.contact-form-section .title-wrapper .title {
  width: 100%;
}
.contact-form__input .contact-form__input:has(.form__facet-radio) {
  flex-direction: row;
  row-gap: 15px;
  column-gap: 24px;
}

.contact .form__label {
  margin-bottom: .4rem;
}

.contact .title-wrapper img:has(+.title) {
  margin-bottom: -17px;
}

@media only screen and (min-width: 990px) {

.contact-form-section .title-wrapper {
  margin-bottom: 3rem;
}
}


@media only screen and (max-width: 989px) {
  .contact_big_box {
      padding: 30px;
  }
}


@media only screen and (max-width: 767px) {

.contact-form-section .title-wrapper {
  gap: 15px;
}
.contact_big_box {
  padding: 30px 20px;
}
.contact .text-area {
  min-height: 15rem;
}
.contact .blank_part {
  display: none;
}
.contact-form__input .contact-form__input:has(.form__facet-radio) {
  column-gap: 20px;
}

}








