/* .image-with-tab-section {word-break: break-word;} */
.iwt-tab-nav ul {
    display: flex;
    column-gap: 3.2rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.iwt-tab-nav ul li {
    border-bottom: 0.4rem solid transparent;
    padding-bottom: 0.8rem;
}
li.tab-target { font-size: 1.6rem; line-height: 1.5; letter-spacing: 0;font-weight: 700;text-transform: capitalize;cursor: pointer;}
.iwt-tab-nav ul li.tab-target.active {
    border-color: rgba(var(--color-active-progress-background));
}
.iwt-progress-counter .counter-title {
    margin: 0;
    line-height: 1.09375;
}
.iwt-progress-description p {
    margin: 0.8rem 0 1.5rem;
    letter-spacing: 0;
    line-height: 1.5;
}

.iwt-progress-counter {
    width: 23%;
}

.iwt-progress-counter .counter-title {
    margin: 0;
    line-height: 1.09375;
    letter-spacing: 0;
}

.iwt-progress-cvr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.4rem;
}

.iwt-tab-main-cover {
    width: 100%;
}

.iwt-progress-inr {
    width: calc(77% - 2.4rem);
}

.iwt-tab-data-inr-wrap {
    margin-top: 0.8rem;
}
.iwt-tab { width: 100%; }

.iwt-progress-label p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0;
}

.iwt-progress-label {
    margin-bottom: 0.6rem;
}

.iwt-pl-cvr {
    position: relative;
}

.iwt-progress-static {
    display: block !important;
    min-height: 2.4rem;
    width: 100%;
    background: rgba(var(--color-default-progress-background));
    border-radius: 80px;
}

.iwt-progress-active {
    display: block !important;
    min-height: 2.4rem;
    width: 100%;
    background: rgba(var(--color-active-progress-background));
    border-radius: 8rem;
    position: absolute;
    left: 0;
    top: 0;
}
.image-with-tab-section .iwt-tab-main-cover {
    margin-top: 2.4rem;
}
.iwt-tab-data-main-cvr {
    display: none;
}

.iwt-tab-data-main-cvr.active {
    display: block;
}
.iwt-progress-cvr:nth-child(even) {
    margin: 1.6rem 0;
}
.image-with-tab-section .iwt-button-cvr .button {
    margin-top: 1.6rem;
}
.image-with-tab-section .iwt-tab {
    margin: 0;
}
.image-with-tab-section .iwt-button-cvr .button--cta {
    padding: 0;
    min-height: auto;
    border: none;
}

.image-with-tab-section .iwt-button-cvr .button svg {
    transition: transform var(--duration-default) ease;
    margin-left: 4px;
}
.image-with-tab-section .iwt-button-cvr .button .icon {
    height: 1.2rem;
}
@media screen and (hover: hover) {
    .image-with-tab-section .iwt-button-cvr .button:hover .label {
        transform: none;
    }
}

.image-with-tab-section .iwt-button-cvr .button:hover svg {
    transform: none;
    transition: transform var(--duration-default) ease;
}
.image-with-tab-section .iwt-button-cvr .button .label {
    letter-spacing: 0;
}
.image-with-tab-section .iwt-button-cvr .button {
    justify-content: flex-start;
}
.mobile-tabs-accordion { display: none; }
.image-with-tab-section .image-with-text__grid {
    background: transparent;
}

.image-with-tab-section .tabs_enable_big_box  {
    background-color: var(--box-background);
    padding: 4.5rem;
}
.image-with-tab-section .tabs_enable_big_box .iwt-tab-nav ul {
    column-gap: 1.2rem;
}




.image-with-tab-section .button--link {
    --color-button-background: var(--color-background);
    --color-button-border: var(--color-base-outline-button-labels);
    --color-button-text: var(--color-base-outline-button-labels);
}
.image-with-tab-section .button--link:hover {
    background-color: var(--secondary-button-hover-background, #3C3C3C);
    border-color: var(--secondary-button-hover-border, #3C3C3C);
    color: var(--secondary-button-hover-text, #ffffff);
}

@media screen and (hover: hover) {
    .image-with-tab-section .button--link:hover:after {
        animation: none;
        transform: rotate3d(0, 0, 1, 0) translateZ(0);
    }

    .image-with-tab-section .button--link:after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 120%;
        height: 100%;
        background-image: none;
        background-color: rgb(var(--color-button-text));
        backface-visibility: hidden;
        will-change: transform;
        transform: rotate3d(0, 0, 1, 10deg) translate3d(-1.2em, 110%, 0);
        transform-origin: 0% 100%;
        transition: transform var(--duration-long) ease;
    }
}

.image-with-tab-section .button--link {
    background-color: var(--secondary-button-background, transparent);
    border-color: transparent !important;
    border-bottom-color: 1px solid var(--secondary-button-border, #3C3C3C) !important;
    color: var(--secondary-button-text, #3C3C3C);
    width: fit-content;
    padding: .75rem 1.5rem;
    cursor: pointer;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;
}




@media screen and (min-width: 990px) {
    .image-with-tab-section .page-width--standard {
        padding: 0 15px;
    }
}

@media screen and (min-width: 750px) {
    .image-with-tab-section .image-with-text .image-with-text__content {
        padding: 1.2rem;
    }
}

@media only screen and (min-width:990px) and (max-width:1024px){
    .iwt-progress-counter .counter-title.x-large { font-size: calc(var(--font-heading-scale)* 5rem);}
}


@media only screen and (max-width:1024px){
    .mobile-tabs-accordion {
        display: block;
        border: 1px solid rgba(var(--color-active-progress-background));
    }
    .iwt-tab-data-inr-wrap {
        margin-top: 0;
        border: 1px solid rgba(var(--color-active-progress-background));
        padding: 10px;
        border-top: 0;
        word-break: break-word;
    }
    .desktop-tabs { display: none; }
    li.tab-target {
        padding: 10px;
        background: rgba(var(--color-default-progress-background));
        margin-top: 1.6rem;
        word-break: break-word;
    }
    .image-with-tab-section .image-with-text__heading {
        word-break: break-word;
    }
    li.tab-target.active {
        background: rgba(var(--color-active-progress-background));
    }
    .iwt-tab-nav ul li {
        font-size: 1.4rem;
        padding-bottom: 0.5rem;
    }
    
    .iwt-tab-nav ul {
        column-gap: 1rem;
    }
    
    .iwt-progress-description p {
        font-size: 1.4rem;
    }

    .iwt-progress-label p {
        font-size: 1.4rem;
    }
    .iwt-progress-cvr {
        column-gap: 1rem;
    }
    
    .iwt-progress-counter {
        width: 12%;
        min-width: 65px;
    }
    
    .iwt-progress-inr {
        width: calc(88% - 1rem);
    }
    
    .iwt-progress-counter .counter-title.x-large {
        font-size: calc(var(--font-heading-scale)* 3.2rem);
    }
    
    .iwt-progress-active, .iwt-progress-static {
        min-height: 1.4rem;
    }
}

@media only screen and (max-width:364px){
    .iwt-progress-counter .counter-title.x-large {
        font-size: calc(var(--font-heading-scale)* 2.8rem);
    }
}
