.quote-with-image-section .container {
    max-width: 1070px;
    margin: 0 auto;
    padding:0 15px;
}
.quote-with-image-cvr {
    display: flex;
    flex-wrap: wrap;
    column-gap: 108px;
}
.quote-text-cvr {
    width: calc(100% - 494px);
}

.quote-image-main-cvr {
    width: 386px;
    padding-top: 200px;
}

.quote-image-cvr img {
    width: 100%;
    display: block;
    height: auto;
    aspect-ratio: 193/275;
    object-fit: cover;
}

.block_cvr_image img {
    width: 100%;
    height: auto;
    max-width: 380px;
    margin-right: 0;
    display: block;
    aspect-ratio:19/16;
    object-fit: cover;
}
.quote-image-main-cvr .block_cvr_placeholder > svg {
    aspect-ratio:19/16;
    width: 100%;
    max-width: 380px;
}
.quote-image-main-cvr .block_cvr_image img, .quote-image-main-cvr .block_cvr_placeholder {
    margin-left: -27rem;
}

.quote-image-main-cvr .block_cvr_image, .quote-image-main-cvr .block_cvr_placeholder {
    margin-top: -104px;
}

.quote-image-main-cvr .block_cvr_image {
    text-align: right;
    position: relative;
}
.quote_main__heading {
    margin: 0;
    line-height: 1.09375;
    margin-bottom: 24px;
    letter-spacing: 0;
}
.subheading_cvr {
    max-width: 253px;
}

.subheading_cvr img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    display: block;
}

.quote-image-main-cvr .image-only-mobile { display: none; }


.quote-with-image-section {
    position: relative;
  }
  .quote-with-image-section>* {
    position: relative;
    z-index: 1;
  }
  .quote-with-image-section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50%;
    pointer-events: none;
    background-color: var(--primary-background);
  }
  .quote-with-image-section:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    right: 0;
    height: 50%;
    pointer-events: none;
    background-color: var(--secondary-background);
  }
  .quote-image-cvr > svg {
    aspect-ratio: 193/275;
    height: 100%;
}
  
@media only screen and (min-width:1025px){
    .quote-with-image-cvr {
        padding-left: 58px;
        padding-right: 32px;
    }
}

@media only screen and (max-width:990px){
    .quote-with-image-cvr {
        column-gap: 40px;
    }
    
    .quote-text-cvr {
        width: calc(100% - 355px);
    }
    .quote-image-main-cvr {
        width: 315px;
        padding-top: 50px;
    }
}
@media only screen and (max-width:749px){
    .quote-text-cvr {
        width: 100%;
    }
    
    .quote-image-main-cvr {
        width: 100%;
        padding-top: 90px;
        max-width: 432px;
        margin: 0 auto;
    }
    .quote-image-cvr > img {
        max-width: 315px;
        margin-left: auto;
    }
    .quote-image-cvr > img {
        max-width: 315px;
        margin-left: auto;
    }
    
    .quote-image-main-cvr .block_cvr_image img, .quote-image-main-cvr .block_cvr_placeholder {
        margin-left: 0;
        max-width: 200px;
    }
    .quote-image-main-cvr .image-only-desktop { display: none; }
    .quote-image-main-cvr .image-only-mobile { display: block; }
    .quote-image-main-cvr .block_cvr_image, .quote-image-main-cvr .block_cvr_placeholder {
        margin-top: -54px;
    }
    .quote_main__heading {
        line-height: 1.222221;
        max-width: 350px;
        margin-bottom: 1px;
    }
    .quote-image-cvr img { aspect-ratio: 1; }
}
@media only screen and (max-width:400px){
    .quote-image-cvr>img {
        max-width: 235px;
    }
    .quote-image-main-cvr .block_cvr_image img, .quote-image-main-cvr .block_cvr_placeholder > svg {
        max-width: 130px;
    }
}