.featured-collection-section {
    position: relative;
}
.featured-collection-section:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 58%;
    pointer-events: none;
    background-color: var(--primary-background);
    z-index: -1;
}
.featured-collection-section:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 42%;
    pointer-events: none;
    background-color: var(--secondary-background);
    z-index: -1;
}
.featured-collection-section .title-wrapper .sub_title {
    margin: 0 0 4px;
}
.featured-collection-section .product-grid .card-information__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 0;
}
.featured-collection-section .product-grid .card-information__button {
    position: unset;
    transform: none;
    opacity: 1;
    visibility: visible;
    margin-top: 24px;
    width: 100%;
    column-gap: 16px;
    height: auto;
}

.featured-collection-section .product-grid .card+.card-information {
    flex-direction: column;
    padding: 24px 16px 16px 16px;
    flex-grow: 1;
    justify-content: space-between;
}
.featured-collection-section .product-grid .card-information__button add-to-cart {
    width: calc(100% - 131px) !important;
}
.products-details-btn {
    width: 115px;
    flex-grow: 1;
}
.products-details-btn .button { width: 100% !important; }
.product-grid .card-information__button .button {
    transform: none;
    opacity: 1;
    visibility: visible;
    will-change: inherit;
    font-size: 16px;
    line-height: 24px;
    text-transform: inherit;
    letter-spacing: 0;
    text-indent: inherit;
    flex: inherit;
    min-width: inherit;
    padding: inherit;
    border-radius: inherit;
    box-shadow: none;
    flex-grow: 1;
    border-color: var(--button-background-color);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    min-height: 4.8rem;
}
.product-grid .card-article-info {
    font-size: 16px;
    line-height: 24px;
}
.product-grid .grid__item {
    background-color: var(--product-grid-background);
}

.product-grid .grid__item .price__regular {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.product-grid .card-information__button .button .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.product-description p {
    margin: 0;
    letter-spacing: 0;
}
.product-description {
    font-size: 16px;
    line-height: 24px;
}
.product-grid .card-information__button .button--outline {
    background: transparent;
    border-color: var(--add_to_cart_outline_color);
}

.product-media-tag {
    background: #BAAB9E;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    margin: 16px;
    letter-spacing: 0;
}
.product-grid .card__media {
    padding: 16px 16px 0 16px;
}
.product-grid .media-wrapper {
    background-color: var(--product-grid-background);
}

.product-grid .card--product+.card-information .price {
    margin-top: 16px;
}

  .featured-collection-section .slider.slider--tablet {
    scrollbar-width: inherit;
  }


@media only screen and (min-width:990px){
    .featured-collection-section .title-wrapper {
        margin-bottom: 5.2rem;
    }
}

@media only screen and (min-width:1025px) and (max-width:1200px){
    .products-details-btn {
        width: 100%;
        max-width: 90px;
    }
}

@media only screen and (min-width:750px) and (max-width:1024px){
    .featured-collection-section .product-grid .card-information__button {
        flex-direction: column;
        height: auto;
        row-gap: 10px;
    }
    
    .products-details-btn {
        width: 100%;
    }
    
    .product-grid .card-information__button .button {
        width: 100% !important;
        min-height: 4rem !important;
    }
    .featured-collection-section .product-grid .card-information__button add-to-cart {
        width: 100% !important;
    }
}

@media only screen and (max-width:767px){

.featured-collection-section .slider.slider--tablet {
    /* margin-left: calc(-1* var(--section-padding-left)); */
    margin-right: calc(-1* var(--section-padding-right));
}

}

@media only screen and (max-width:749px){
    .featured-collection-section .product-grid .card-information__button {
        flex-direction: row;
    }
    
    .products-details-btn {
        max-width: 115px;
    }
    
    .featured-collection-section .product-grid .card-information__button add-to-cart {
        width: calc(100% - 115px) !important;
    }
}

@media only screen and (min-width:364px)and (max-width:430px){
    .products-details-btn {
        max-width: 80px;
    }
    .featured-collection-section .product-grid .card-information__button add-to-cart {
        padding: 0 4px;
    }
}

@media only screen and (max-width:363px) {
        
    .featured-collection-section .product-grid .card-information__button add-to-cart {
        width: 100% !important;
    }
    .featured-collection-section .product-grid .card-information__button {
        flex-direction: column;
    }
    .products-details-btn {
        max-width: 100%;
        width: 100%;
        margin-top: 10px;
    }
}