.quote-with-image-section .container {
    max-width: 1070px;
    margin: 0 auto;
    padding:0 15px;
}
.quote-with-image-cvr {
    display: flex;
    flex-wrap: wrap;
    column-gap: 108px;
}
.quote-text-cvr {
    width: calc(100% - 494px);
}

.quote-image-main-cvr {
    width: 386px;
    padding-top: 200px;
}

.quote-image-cvr img {
    width: 100%;
    display: block;
    height: auto;
}

.block_cvr_image img {
    width: 100%;
    height: auto;
    max-width: 380px;
    margin-right: 0;
    display: block;
    
}
.quote-image-cvr:has(img) + .block_cvr_image img {
    margin-left: -27rem;
}

.quote-image-cvr:has(img) + .block_cvr_image {
    margin-top: -104px;
}

.block_cvr_image {
    text-align: right;
    position: relative;
}
.quote_main__heading {
    margin: 0;
    line-height: 1;
    margin-bottom: 24px;
    letter-spacing: 0;
}
.subheading_cvr {
    max-width: 253px;
}

.subheading_cvr img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    display: block;
}

.quote-with-image-section .quote-with-image-wrapper {
    background-color: var(--section-background);
}
.quote-image-cvr .image-only-mobile { display: none; }

@media only screen and (min-width:1025px){
    .quote-with-image-cvr {
        padding-left: 58px;
        padding-right: 32px;
    }
}

@media only screen and (max-width:990px){
    .quote-with-image-cvr {
        column-gap: 40px;
    }
    
    .quote-text-cvr {
        width: calc(100% - 355px);
    }
    .quote-image-main-cvr {
        width: 315px;
        padding-top: 50px;
    }
}
@media only screen and (max-width:749px){
    .quote-text-cvr {
        width: 100%;
    }
    
    .quote-image-main-cvr {
        width: 100%;
        padding-top: 90px;
        max-width: 432px;
        margin: 0 auto;
    }
    .quote-image-cvr > img {
        max-width: 315px;
        margin-left: auto;
    }
    .quote-image-cvr > img {
        max-width: 315px;
        margin-left: auto;
    }
    
    .quote-image-cvr:has(img) +.block_cvr_image img {
        margin-left: 0;
        max-width: 200px;
    }
    .quote-image-cvr .image-only-desktop { display: none; }
    .quote-image-cvr .image-only-mobile { display: block; }
    .quote-image-cvr:has(img)+.block_cvr_image {
        margin-top: -54px;
    }
}
@media only screen and (max-width:400px){
    .quote-image-cvr>img {
        max-width: 235px;
    }
    .quote-image-cvr:has(img)+.block_cvr_image img {
        max-width: 130px;
    }
}