.image-banner-new {
    position: relative;
}

.image-banner-new:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50%;
    pointer-events: none;
    background-color: var(--primary-background);
}

.image-banner-new:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    pointer-events: none;
    background-color: var(--secondary-background);
}

.image-banner-new>* {
    position: relative;
    z-index: 1;
}

.section-image-banner-new .banner__box_img img {
    width: 100%;
    height: auto;
    max-width: 253px;
    display: block;
}

.section-image-banner-new .banner__heading {
    line-height: 1.09375;
    letter-spacing: 0;
    margin-top: 1.55rem;
    word-wrap: break-word;
}
.section-image-banner-new  .banner__subheading + .banner__heading {
    margin-top: 1.5rem;
}
.section-image-banner-new .banner__text {
    margin-top: 8px;
    letter-spacing: 0;
    line-height: 1.5;
}
.section-image-banner-new .banner__box :last-child:is(.button) {
    margin-top: 2.4rem;
}
.section-image-banner-new .banner__box .button {
    line-height: 24px;
    text-transform: inherit;
    letter-spacing: 0;
}

.section-image-banner-new .container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0;
}
.section-image-banner-new .center img {
    margin: 0 auto;
}
.section-image-banner-new .right img {
    margin-right: 0;
    margin-left: auto;
}
.section-image-banner-new .left img {
    margin-left: 0;
    margin-right: auto;
}
.section-image-banner-new .banner__text.rte>p:last-child {
    margin-top: 0;
}

.section-image-banner-new .banner__text.rte>p:first-child {
    margin-bottom: 0;
}

.section-image-banner-new .banner--container .banner__box_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-image-banner-new .banner--container .banner__box {
    padding: 4rem 3.5rem !important;
}
.banner__media .media:has(> svg) {
    position: relative;
    height: 0;
    padding-bottom: 53.0625%;
}

@media only screen and (min-width:990px){
    .section-image-banner-new .banner--container .banner__box {
        padding: 4rem 6rem !important;
    }
}


@media only screen and (min-width:750px){
    .section-image-banner-new .banner--container .banner__box_img.right {
        align-items: flex-end;
    }

    .section-image-banner-new .banner--container .banner__box_img.center {
        align-items: center;
    }

    .section-image-banner-new .banner--container .banner__box_img.left {
        align-items: flex-start;
    }
    .section-image-banner-new .banner {
        justify-content: flex-start;
    }
    .boxed-full-height {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media only screen and (max-width:989px){
  .section-image-banner-new .page-width--full-width .banner .banner__content {
    background: transparent;
  }
}

@media only screen and (max-width:749px){
    .section-image-banner-new .mobile-center img {
        margin: 0 auto;
    }
    .section-image-banner-new .mobile-right img {
        margin-right: 0;
        margin-left: auto;
    }
    .section-image-banner-new .mobile-left img {
        margin-left: 0;
        margin-right: auto;
    }
    .section-image-banner-new .banner__box_img img {
        max-width: 172px;
    }       
    .section-image-banner-new .banner__heading {
        line-height: 1.222221;        
    }
    .banner.enable_content_space .banner__content {
        padding: 0 2rem 2rem 2rem;
    }
}

@media screen and (min-width:750px) and (max-width: 990px) {
    .section-image-banner-new .banner .banner__content {
        padding: 5rem;
    }
    .section-image-banner-new .banner .banner__content:has(.boxed-full-height) {
        padding: 0;
    }
}

@media screen and (max-width: 749px) {
    .section-image-banner-new .banner--container .banner__box {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    .mobile_spacing--remove { padding-left: 0;padding-right: 0;  }
}