.section-image-banner-new .banner__box img {
    width: 100%;
    height: auto;
    max-width: 253px;
    display: block;
}

.section-image-banner-new .banner__heading {
    line-height: 1;
    letter-spacing: 0;
}
.section-image-banner-new  .banner__subheading + .banner__heading {
    margin-top: 1.5rem;
}
.section-image-banner-new .banner__text {
    margin-top: 8px;
    letter-spacing: 0;
}
.section-image-banner-new .banner__box :last-child:is(.button) {
    margin-top: 2.4rem;
}
.section-image-banner-new .banner__box .button {
    line-height: 24px;
    text-transform: inherit;
    letter-spacing: 0;
}

.section-image-banner-new .container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0;
}
.section-image-banner-new .center img {
    margin: 0 auto;
}
.section-image-banner-new .right img {
    margin-right: 0;
    margin-left: auto;
}
.section-image-banner-new .left img {
    margin-left: 0;
    margin-right: auto;
}
.section-image-banner-new .banner__text.rte>p:last-child {
    margin-top: 0;
}

.section-image-banner-new .banner__text.rte>p:first-child {
    margin-bottom: 0;
}
.section-image-banner-new .banner--container .banner__content {
    padding: 0;
}
.section-image-banner-new .banner--container .banner__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxed-full-height { height: 100%; }

@media only screen and (min-width:750px){
    .section-image-banner-new .banner--container .banner__box.right {
        align-items: flex-end;
    }

    .section-image-banner-new .banner--container .banner__box.center {
        align-items: center;
    }

    .section-image-banner-new .banner--container .banner__box.left {
        align-items: flex-start;
    }
}

@media only screen and (max-width:749px){
    .section-image-banner-new .mobile-center img {
        margin: 0 auto;
    }
    .section-image-banner-new .mobile-right img {
        margin-right: 0;
        margin-left: auto;
    }
    .section-image-banner-new .mobile-left img {
        margin-left: 0;
        margin-right: auto;
    }
    .section-image-banner-new .banner__box img {
        max-width: 200px;
    }       
}

@media screen and (max-width: 749px) {
.section-image-banner-new .banner--container .banner__box {
    padding-left: 15px;
    padding-right: 15px;
}
}